.navbar {
  padding: 0px 20px;
  position: absolute;
  left: 0;
  top: 0;
  height: 67px;
  /* background: #000; */
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index:99;
}
.navbar {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.uppercase {
  text-transform: uppercase;
}
.contact {
  color: white;
  font-size: 20px;
  position:relative;
  padding-left:20px;
  transition:all 0.3s;
}
.contactLine:hover,
.contact:hover{
  padding-left:50px;
}
.contactLine:hover,
.contact:hover>.contactLine{
  padding-left:50px;
  right:80%;

}
.contactLine{
  position:absolute;
  width:100%;
  height:100%;
  right:95%;
  display:flex;
  justify-content:center;
  flex-direction:column;
  transition:all 0.3s;

  }
.contactLine>hr{
   background:white;
   height:0.5px;
   padding:0px;
   width:100%;
   border:0;
   margin:0;
    }
.rightNav {
  display: flex;
  align-items: center;
}
.logoDiv {
  height: 67px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.logoDiv img{
  clip-path:insert(20px 50px 10px 0 round 50px);
}
.logoDiv:hover,
.logoImage:hover{
  cursor: pointer;
}
.hover:hover {
  cursor: pointer;
}
.logoImage {
  height: 70px!important;
  /* margin-top: -13px; */
}
.capitalize {
  text-transform: capitalize;
}
.closeMenu {
  font-size: 20px;
  top: 20px;
  /* padding-bottom: 1.2rem !important; */
  color: white;
  display: flex;
}
.menuIcon {
  font-size: 28px !important;
  margin-left: 4px;
}
.openMenu {
  display: flex;
  align-items: center;
}
 .menuOptionsAnimate {
  
  animation: slideIn 0.5s forwards;
  font-size: 20px;
  position: absolute;
  transition: all ease-in 0.5s;
  right: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px 60px 0 0;
}
 @keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  
  to {
    transform: translateX(0);
  }
}
.menuOptions {
  font-size: 20px;
  background: rgba(0,0,0,0.8);
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100svh !important;
  z-index: 99;
  display: flex;
  justify-content: flex-end;
  padding: 20px 60px 0 0;
 }
.menuOptionsAnimate li,
.menuOptions li{
  height: fit-content;
 }
 .crossIcon{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 28px;
  transform: translate(-20px,20px);
  cursor:pointer;
  z-index:100;
 }
.menuOptionsAnimate li ,
.menuOptions li {
  list-style: none;
}
.menuOptionsAnimate li:nth-child(2n + 1):hover ,
.menuOptions li:nth-child(2n + 1):hover {
  color: rgba(230, 230, 230, 0.75) !important;
}
.menuOptionsAnimate li:nth-last-child(1) ,
.menuOptions li:nth-last-child(1) {
  display: none;
}
.menuOptionsAnimate li:hover ,
.menuOptions li:hover {
  cursor: pointer;
}
.forwardSlash {
  color: #818181;
  margin: 0 5px;
}
.crossIcon {
  color: #818181;
  margin-left: 10px;
}
.crossIcon:hover {
  color: white;
}
.user {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-left: 10px;
  text-transform: uppercase;
  color: white;

}
.userLogo {
  font-size: 28px !important;
  /* color: white !important; */
}
.user:hover {
  cursor: pointer;
}
.userSetting {
  position: absolute;
  top: 0px;
  right: 0%;
  width: 300px;
  height: 100%;
  background: #000;
  z-index: 99;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userSettingCross {
  color: white !important;
  font-size: 28px !important;
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding-right: 20px;
  width: 100%;
  justify-content: flex-end;
  
}
.userSettingClose {
  width: 50px;
}
.userSettingCross:hover {
  cursor: pointer;
}
.userSettingCross span {
  color: white !important;
  font-size: 20px !important;
  display: none;
}

.userSettingOptions {
  color:white;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.userSettingOptions li {
  margin: 20px 0;
  border-bottom: 1px solid black;
  transition: all ease-in 0.5s;
  color: #818181;
}
.userSettingOptions li:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
  transition: all ease-in 0.5s;
  color: white;
}
/* shop navbar */
.shopNav{
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 16px;
  font-weight:  bolder !important;
}
.shopNav li{
margin-left: 10px;
font-weight: bolder !important;
color: black;
}
.shopNav li:hover{
cursor: pointer;
}
@media (max-width: 1000px) {
  .menuOptionsAnimate,
  .menuOptions{
  font-size: 24px;
  background: rgba(0,0,0,0.8);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 15svh;
  padding-right: 0;
 }



  .menuOptionsAnimate li:nth-child(2n),
  .menuOptions li:nth-child(2n){
  display: none;
 }
 .crossIcon{
  position: absolute;
  right: 20px;
  /* right: 110px; */
  top: 25px;
  color: white!important;
 }
}
@media (max-width: 812px) {
  .menu {
    display: none;
  }
    .menuOptionsAnimate,
    .menuOptions{
    background: rgba(0,0,0,1);
  }
}
@media (max-width: 550px) {
  .userSetting {
    width: 100%;
  }
}
@media (max-width: 430px) {
  .navbar{
    padding: 0 20px 0 0;
    /* display: flex; */
    /* align-items: center; */
  }
  }
@media (max-width: 403px) {
  .navbar{
    padding: 0 10px 0 0;
  }
  .hamburger{
   height: 40px;
   object-fit: contain;
  }
  .logoImage{
    width: 110px;
    height: 65px;
  }
  .contact,
  .user{
    font-size: 16px;
  }
  .userLogo,.menuIcon{
    font-size: 22px!important;
  }
}
