.navbar {
    padding: 0px 20px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height:67px ;
    /* background: #000; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.uppercase{
    text-transform: uppercase;
}
.contact{
    color: white;
    font-size: 20px;
    /* padding-bottom: 1.2rem; */
    /* margin-top: 10px; */
}
.rightNav{
  display: flex; 
  align-items: center; 

}
.logoDiv{
    height:67px ;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.hover:hover{
    cursor: pointer;
}
.logoImage{
    height: 80px;
    /* margin-top: -13px; */
}
.capitalize{
    text-transform: capitalize;
}
.closeMenu{
    font-size: 20px;
    top: 20px;
    /* padding-bottom: 1.2rem !important; */
    color: white;
    display: flex;
}
.menuIcon{
    font-size: 28px !important;
    margin-left: 4px;
}
.openMenu{
    display: flex;
    align-items: center;
}
.menuOptions{
    display: flex;
    font-size: 20px;
    
}
.menuOptions li{
    list-style: none;
}
.menuOptions li:nth-child(2n+1):hover{
 color: rgba(230, 230, 230, 0.75) !important;

}
.menuOptions li:nth-last-child(1){
 display: none;

}
.menuOptions li:hover{
    cursor: pointer;
   }
.forwardSlash{
    color: #818181;;
    margin: 0 5px;
}
.crossIcon{
     color: #818181;
    margin-left: 10px;
}
.crossIcon:hover{
    color: white;
}
@media (max-width:812px) {
 .menu{
    display: none;
 }   
}