.parentContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionTitle{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1rem;
}
.pageTitle{
    text-decoration: underline;
    font-weight: bold;
    font-size: 30px;
}
.cardThumbnail{
    width: 40%;
    object-fit: contain;
}
.cardContainer{
    display: flex;
    margin-bottom: 1rem;
}
.productDetails{
    padding: 4px 8px;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    font-size: 1rem;
}
.productName{
    font-weight: bold;
    font-size: 1.2rem;
}
.addressCard{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.billCard{

}
.containerReviews{
    width: 70%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.checkoutBtn {
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    height: 50px;
    text-align: center;
    padding: 5px 20px;
    border-radius: 5px;
    background: #000;
    color: white;
    font-size: 16px;
    border: 0;
    margin-top: 1rem;
  }
:hover.checkoutBtn{
    background-color: #222222;
    transition: all;
    animation: ease-in;
    animation-duration: 400ms;
}
.addressNbill{
    width: 45%;
}
@media (max-width: 1024px) {
    .containerReviews{
        flex-direction: column;
    }
    .cardContainer{
        background-color: whitesmoke;
        border-radius: 5px;
        overflow: hidden;
    }
    .billCard{
        width: 100%;
    }
    .addressNbill{
        width: 100%;
    }
    .productDetails{
        font-size: 9px;
    }
    .productName{
        font-size: 12px;
    }
}
@media (max-width: 450px) {
    .cardThumbnail{
        object-fit: cover;
    }
}