*{
    margin: 0;
    padding: 0;
}
.clientpage {
    padding-left: 100px;
    padding-right: 100px;
}
.clientpage .blog-card__title a:first-child {
    font-size: 1.8em;
}
.clientpage .blog-card {
    width: 85%;
    height: 270px;
    /* border-radius: 10px; */
    overflow: hidden;
    background: #fff;
    display: inline-block;
    margin: 20px 10px;
    vertical-align: top;
    cursor: pointer;
    /* box-shadow: 2px 2px lightgrey; */
}
.clientpage .blog-card__image{
    padding: 30px;
}
.clientpage .blog-card__image img {
    width: 100%;
    height: 100px;
    object-fit: unset;
    opacity: 0.8;
}
.clientpage .blog-card__title p {
    margin: 8px 5px;
    text-align: left;
    color: black;
    font-size: 0.8em;
}
.blogdescription{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 10px !important;
    /*color: black !important;*/
}
.blog-card__title a{
    text-decoration: none;
}
.fs-15-mh-30{
    font-size: 15px;
    min-height: 30px;
}
@media  (min-width:1800px) and (max-width:2053px) {
    .clientimage{
        width: auto;
    }
    .aviralimage{
        width: 100%;
        height: auto;
        margin-top: 0px;
    }
    .nagarimage{
        width: 100%;
    }
}
@media  (min-width:1700px) and (max-width:1759px) {
    .clientimage{
        margin-top: 0px;
    }
    .aviralimage{
        width: 100%;
        height: auto;
        margin-top: 0px;
    }
}
@media (min-width:2052px) and (max-width:2732px)
{
    .clientimage{
        width: auto !important;
    }
    .aviralimage{
        width: auto !important;
        height: 100px !important;
        margin-top: 0px !important;
    }
    .nagarimage{
        width: 100% !important;
    }
}
@media (min-width:2733px) and (max-width:4102px)
{
    .clientimage{
        width: auto !important;
    }
    .aviralimage{
        width: auto !important;
        height: 100px !important;
        margin-top: 0px !important;
    }
    .nagarimage{
        height: 100px !important;
        margin-top: 0px !important;
    }
}
@media (min-width:4103px) and (max-width:5464px)
{
    .clientimage{
        width: auto !important;
    }
    .aviralimage{
        width: auto !important;
        height: 100px !important;
        margin-top: 0px !important;
    }
    .nagarimage{
        height: 100px !important;
        margin-top: 0px !important;
    }
}
.logoimage{
    height: 40px;
    width: auto;
}
body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}