/* Footer CSS */
footer {
    position: static;
    bottom: 0;
    width: 100%;
    background-color: #fff;
  }

.karwaan{
    font-size: 15px;
    color: black;
    text-decoration: none;
}
.a{
    color: #000000ea;
}
.b{
    color: #000000ea;
}
.c{
    color:  #000000ea;
}
.d{
    color: #000000ea;
}
.social-icons{
    font-size: medium;
}

.social-icons a{
    text-decoration: none;
}

.social-icons a:hover{
    opacity: 0.5;
    color: black;
}
