@media screen and (min-width: 1201px) {
    .text {
        font-size: 16px;
    }
    .mobile-show{
        display: none;
    }
    .social-icons{
        font-size: medium;
    }
}
   /* 1025px 200px: Desktops, large screens */
@media screen and (max-width: 1200px) {
    .text {
        font-size: 16px;
    }
    .social-icons{
        font-size: medium;
    }

}
@media(max-width:1240){
    #layer1-bgvideo {
        width: auto !important;
        height: 100vh !important;
    }
    .mobile-show{
        display: none;
    }
    .text {
        font-size: 16px;
    }
    .p-60 {
        padding:69px;
    }
    .bb-1px{
        border-bottom: 1px solid #505050;
    }
    .color-white{
        color: white
    }
    .homehover:hover{
        color: white
    }

    /*Picture Page*/
    .centerdiv{
        top:5vh;
        width: 90%;
        position: relative;
    }

    .fancybox{
        width: auto;
        margin: 0;
    }


    .ulclass{
        width: auto;
        display: contents !important;
        flex-direction: row !important;
    }

    .gallery_product{
        width: 100%;
        height: auto;
        display: inline-grid;
        margin-left: 6px;
    }
    #grid-container{
        position: absolute;
        width: 100%;
    }
    .scrolldiv{
        display: none;
    }

    .textcenter{
        text-align: center;
    }
    .mt-20{
        margin-top: 20px;
    }
    .clientpage {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .social-icons{
        font-size: medium;
    }
}



   /* 769px 1024px: Small screens, laptops */
@media screen and (max-width: 1024px) {
    #layer1-bgvideo {
        width: auto !important;
    }
    .mobile-show{
        display: none;
    }
    .text {
        font-size: 16px;
    }
    .p-60 {
        padding:69px;
    }
    .bb-1px{
        border-bottom: 1px solid #505050;
    }
    .color-white{
        color: white
    }
    .homehover:hover{
        color: white
    }

    /*Picture Page*/
    .centerdiv{
        top:5vh;
        width: 90%;
        position: relative;
    }

    .fancybox{
        width: auto;
        margin: 0;
    }


    .ulclass{
        width: auto;
        display: contents !important;
        flex-direction: row !important;
    }

    .gallery_product{
        width: 100%;
        height: auto;
        display: inline-grid;
        margin-left: 6px;
    }
    #grid-container{
        position: absolute;
        width: 100%;
    }
    .scrolldiv{
        display: none;
    }

    .textcenter{
        text-align: center;
    }
    .mt-20{
        margin-top: 20px;
    }
    .clientpage {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .social-icons{
        font-size: small;
    }
    .karwaan{
        font-size: small;
    }
}


@media screen and (max-width: 768px) {
    #layer1-bgvideo {
        width: auto !important;
        object-fit: fill;
    }
    .mobile-hidden {
        display: none !important;
    }
    .mobile-show {
        display:block;
    }

    .mobilecontainer{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .p-60 {
        padding:73px;
    }
    .bb-1px{
        border-bottom: 1px solid #505050;
    }
    .color-white{
        color: white
    }
    .homehover:hover{
        color: white
    }

    /*Picture Page*/
    .centerdiv{
        top:7vh;
        width: 90%;
        position: relative;
        margin: 0px;
    }


    .fancybox{
        width: auto;
        margin: 0;
    }
    .ulclass{
        width: auto;
        display: contents !important;
        flex-direction: row !important;
    }
    .gallery_product{
        width: 100%;
        height: auto;
        display: inline-grid;
    }

    #grid-container{
        position: absolute;
        width: 106%;
    }
    .scrolldiv{
        display: none;
    }

    .textcenter{
        text-align: center;
    }
    .mt-20{
        margin-top: 20px;
    }
    .contactpage{
        position: unset !important;

    }
    .contactform{
        margin: 2px !important;
    }
    .imageabout{
        width: 100%;
    }
    .p-130px{
        padding: 0px !important;
    }
    .mobilemenu.active{
        color: black;
        background-color: white;
        outline: none;
        width: 100%;
    }
    .mt-mb-30{
        margin-top: 30px;
        margin-bottom: -30px;
    }
    .headerimage {
        top: -15px;
        background-size: cover;
        background-repeat: no-repeat;
        width: auto;
        height: 79%;
        position: relative;
        height: 350px;
    }
    .about_leadin_line{
        height: 50px;
        bottom: 64%;
    }
    .about_scroll_to {
        bottom: 712px;
    }
    .img-responsive{
        height: auto !important;
        width: 100%;
    }
    
    .navbar-brand:hover {
        color: #fff;
    }

    .bodyclass{
        background: #212529 !important;
    }

    .mobiletimelineimage{
        height: 600px;
    }
    .sidenav {
        background: rgba(0, 0, 0,1);
    }
    .contactnavber{
        margin: 10px !important;
    }
    .clientpage {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .review
    {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
    .pl-pr-200px {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .mt-120px{
        margin-top: 25px;
    }
    .mobilecontact{
        padding-bottom: 0.9rem !important;
    }
    .mobilevideo {
        width: 100% !important;
        height: 430px;
    }
    footer{
        position: static;
    }
    .social-icons{
        font-size: small;
    }
    .karwaan{
        font-size: small;
    }
}

@media screen and (max-width: 480px) {
    /* //  Common */
    #layer1-bgvideo {
        width: auto !important;
        object-fit: fill;
    }
    .mobile-hidden {
        display: none;
    }


    /*home-screen*/
    .bb-1px{
        border-bottom: 1px solid #505050;
    }
    .color-white{
        color: white
    }
    .homehover:hover{
        color: white
    }
    
    /*Picture Page*/
    .centerdiv{
        top:30vh;
        width: 90%;
        position: relative;
    }
    .fancybox{
        width: auto;
        margin: 0;
    }
    .ulclass{
        width: auto;
        display: contents !important;
        flex-direction: row !important;
    }
    .gallery_product{
        width: 100%;
        height: auto;
        display: inline-grid;
        margin-left: -40px;
    }
    #grid-container{
        position: absolute;
        width: 100%;
    }
    .scrolldiv{
        display: none;
    }

    .textcenter{
        text-align: center;
    }
    .blog-card{
        margin-left: 0px;
    }
    .mt-20{
        margin-top: 20px;
    }
    .contactpage{
        position: unset !important;

    }
    .contactform{
        margin: 2px !important;
    }
    .imageabout{
        width: 100%;
    }
    .p-130px{
        padding: 0px !important;
    }
    .mobilemenu.active{
        color: black;
        background-color: white;
        outline: none;
        width: 100%;
    }
    .mobile-show {
        display:block;
    }
    .mt-mb-30{
        margin-top: 30px;
        margin-bottom: -30px;
    }
    .headerimage {
        top: -15px;
        background-size: cover;
        background-repeat: no-repeat;
        width: auto;
        height: 79%;
        position: relative;
        height: 150px;
    }

    .about_leadin_line{
        height: 50px;
        bottom: 69%;
    }

    .about_scroll_to {
        bottom: 445px;
    }
    .img-responsive{
        height: auto !important;
        width: 100%;
    }
    .bodyclass{
        background: #212529 !important;
    }
    #jc_recent_tweet{
        text-align:  center !important;
    }
    .footerabout{
        text-align: center;
        margin-top: 10px;
    }
    .mt-30{
        margin-top: 30px;
    }
    .mobiletimelineimage{
        height: 600px;
    }
    .p-60{
        padding: 68px;
    }
    .sidenav {
        background: rgba(0, 0, 0,1);
    }
    .contactnavber{
        margin: 10px !important;
    }
    .clientpage {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .review
    {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
    .pl-pr-200px {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .mt-120px{
        margin-top: 25px;
    }
    .mobilecontact{
        padding-bottom: 0.9rem !important;
    }
    .img-container .img-info {
        font-size: 25px !important;
    }
    .mobilevideo{
        width: 100% !important;
        height:200px;
    }
    footer{
        position: static;
    }
    .social-icons{
        font-size: smaller;
    }
    .karwaan{
        font-size: small;
    }
}

@media  (max-width: 414px) {
    #layer1-bgvideo {
        width: auto !important;
        object-fit: fill;
    }
    
    .gallery_product{
        width: 100%;
        height: auto;
        display: inline-grid;
        margin-left: 0px;
        margin-bottom: -8px;
    }
    .mobilecontainer{
        padding: 0;
    }
    .centerdiv {
        top: 10vh;
        width: 90%;
        position: relative;
    }
    .ulclass{
        width: auto;
        display: contents !important;
        flex-direction: row !important;
    }
    .blog-card{
        margin-left: 0px;
    }
    .mt-20{
        margin-top: 20px;
    }
    .contactpage{
        position: unset !important;

    }
    .contactform{
        margin: 2px !important;
    }
    .imageabout{
        width: 100%;
    }
    .p-130px{
        padding: 0px !important;
    }
    .mobilemenu.active{
        color: black;
        background-color: white;
        outline: none;
        width: 100%;
    }
    .mobile-show {
        display:block;
    }
    .mt-mb-30{
        margin-top: 30px;
        margin-bottom: -30px;
    }
    .headerimage {
        background-image: url(https://trekmunk.b-cdn.net/insanetraveller/images/about%20cover.jpg);
        top: -15px;
        background-size: cover;
        background-repeat: no-repeat;
        width: auto;
        height: 79%;
        position: relative;
        height: 200px;
    }
    .about_leadin_line{
        height: 50px;
        bottom: 69%;
    }
    .about_scroll_to {
        bottom: 560px;
    }
    .img-responsive{
        height: auto !important;
        width: 100%;
    }
    .bodyclass{
        background: #212529 !important;
    }
    #jc_recent_tweet{
        text-align:  center !important;
    }
    .footerabout{
        text-align: center;
        margin-top: 10px;
    }
    .mt-30{
        margin-top: 30px;
    }
    .mobiletimelineimage{
        height: 800px;
    }
    .p-60{
        padding: 73px;
    }
    .sidenav {
        background: rgba(0, 0, 0,1);
    }
    .contactnavber{
        margin: 10px !important;
    }
    .clientpage {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .review
    {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
    .pl-pr-200px {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .mt-120px{
        margin-top: 25px;
    }
    .mobilecontact{
        padding-bottom: 0.9rem !important;
    }
    .img-container .img-info {
        font-size: 25px !important;
    }
    .mobilevideo{
        width: 100% !important;
        height: 230px;
    }
    footer{
        position: static;
    }
    .social-icons{
        font-size: x-small;
    }
    .karwaan{
        font-size: small;
    }
}
@media  (max-width: 375px) {
    #layer1-bgvideo {
        width: auto !important;
        object-fit: fill;
    }
    .gallery_product{
        width: 94%;
        height: auto;
        display: inline-grid;
        margin-left: 0px;
        margin-bottom: -8px;
    }
    .ulclass{
        width: auto;
        display: contents !important;
        flex-direction: row !important;
    }
    .centerdiv {
        top: 10vh;
        width: 100%;
        margin-left: -15px;
        position: relative;
    }
    .mobilecontainer{
        padding: 0;
    }
    .blog-card{
        margin-left: 0px;
    }
    .mt-20{
        margin-top: 20px;
    }
    .contactpage{
        position: unset !important;

    }
    .contactform{
        margin: 2px !important;
    }
    .imageabout{
        width: 100%;
    }
    .p-130px{
        padding: 0px !important;
    }
    .mobilemenu.active{
        color: black;
        background-color: white;
        outline: none;
        width: 100%;
    }
    .mobile-show {
        display:block;
    }
    .mt-mb-30{
        margin-top: 30px;
        margin-bottom: -30px;
    }
    .headerimage {
        background-image: url(https://trekmunk.b-cdn.net/insanetraveller/images/about%20cover.jpg);
        top: -15px;
        background-size: cover;
        background-repeat: no-repeat;
        width: auto;
        height: 79%;
        position: relative;
        height: 220px;
    }
    .about_leadin_line{
        height: 50px;
        bottom: 67%;
    }
    .about_scroll_to {
        bottom: 505px;
    }
    .img-responsive{
        height: auto !important;
        width: 100%;
    }
    .bodyclass{
        background: #212529 !important;
    }
    #jc_recent_tweet{
        text-align:  center !important;
    }
    .footerabout{
        text-align: center;
        margin-top: 10px;
    }
    .mt-30{
        margin-top: 30px;
    }
    .mobiletimelineimage{
        height: 900px;
    }
    .p-60{
        padding: 77px;
    }
    .sidenav {
        background: rgba(0, 0, 0,1);
    }
    .contactnavber{
        margin: 10px !important;
    }
    .clientpage {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .review
    {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
    .pl-pr-200px {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .mt-120px{
        margin-top: 25px;
    }
    .logoimage {
        height: 30px;
        width: auto;
    }
    .mobilecontact{
        padding-bottom: 0.9rem !important;
    }
    .img-container .img-info {
        font-size: 25px !important;
    }
    .mobilevideo {
        width: 100% !important;
        height: 200px;
    }
    footer{
        position: static;
    }
    .social-icons{
        font-size: x-small;
    }
    .karwaan{
        font-size: medium;
    }
}
@media  (max-width: 320px) {
    #layer1-bgvideo {
        width: auto !important;
        object-fit: fill;
    }
    .gallery_product{
        width: 100%;
        height: auto;
        display: inline-grid;
        margin-left: 12px;
    }
    .ulclass{
        width: auto;
        display: contents !important;
        flex-direction: row !important;
    }
    .centerdiv {
        top: 10vh;
        width: 95%;
        position: relative;
    }
    .mt-20{
        margin-top: 20px;
    }
    .contactpage{
        position: unset !important;

    }
    .contactform{
        margin: 2px !important;
    }
    .imageabout{
        width: 100%;
    }
    .p-130px{
        padding: 0px !important;
    }
    .mobilemenu.active{
        color: black;
        background-color: white;
        outline: none;
        width: 100%;
    }
    .mobile-show {
        display:block;
    }
    .mt-mb-30{
        margin-top: 30px;
        margin-bottom: -30px;
    }
    .headerimage {
        background-image: url(https://trekmunk.b-cdn.net/insanetraveller/images/about%20cover.jpg);
        top: -15px;
        background-size: cover;
        background-repeat: no-repeat;
        width: auto;
        height: 79%;
        position: relative;
        height: 150px;
    }
    .about_leadin_line{
        height: 50px;
        bottom: 69%;
    }
    .about_scroll_to {
        bottom: 445px;
    }
    .img-responsive{
        height: auto !important;
        width: 100%;
    }
    .bodyclass{
        background: #212529 !important;
    }
    #jc_recent_tweet{
        text-align:  center !important;
    }
    .footerabout{
        text-align: center;
        margin-top: 10px;
    }
    .mt-30{
        margin-top: 30px;
    }
    .mobiletimelineimage{
        height: 950px;
    }
    .p-60{
        padding: 73px;
    }
    .sidenav {
        background: rgba(0, 0, 0,1);
    }
    .contactnavber{
        margin: 10px !important;
    }
    .clientpage {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .review
    {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
    .pl-pr-200px {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .mt-120px{
        margin-top: 25px;
    }
    .logoimage {
        height: 50px !important;
        width: auto;
    }
    .mobilecontact{
        padding-bottom: 0.9rem !important;
    }
    .img-container .img-info {
        font-size: 25px !important;
    }
    .mobilevideo {
        width: 100% !important;
        height: 180px;
    }
    footer{
        position: static;
    }
    .social-icons{
        font-size: x-small;
    }
    .karwaan{
        font-size: small;
    }
}
@media (min-width: 992px){
    .mobile-show{
        display: none;
    }
    .social-icons{
        font-size: small;
    }
    .karwaan{
        font-size: medium
        ;
    }
}
@media screen and (max-width: 992px) {
    .mobile-show{
        display: block;
    }
    .mobile-hidden{
        display: none;
    }
    .mt-120px{
        margin-top: 25px;
    }
    footer{
        position: static;
    }
    .social-icons{
        font-size: small;
    }
    .karwaan{
        font-size: medium;
    }

}
@media (min-width: 768px) and (max-width:1024px){
    .main-banner .mobile-hidden {
        display: block !important;
    }
    .main-banner  .mobile-show {
        display:none ;
    }
    .main-banner  .mt-15px {
        margin-top: -53px;
    }
    .main-banner  .logodiv {
        padding-right: 80px;
    }
    .main-banner  .mt-2 {
        margin-top: -4px !important;
    }

    footer{
        position: static;
    }
    .social-icons{
        font-size: small;
    }
    .karwaan{
        font-size: medium;
    }

}
@media (orientation: landscape) {
    .videosection .mobile-hidden {
        display: block !important;
    }
    .videosection  .mobile-show {
        display:none ;
    }
    #layer2-menu{
        overflow: scroll;
    }
    .social-icons{
        font-size: small;
    }
    .karwaan{
        font-size: medium;
    }
}
@media (orientation: landscape) and (min-width:375px) and (max-width:812px){
    .videosection .mobile-hidden {
        display: block !important;
    }
    .videosection  .mobile-show {
        display:none ;
    }
    .content .mobile-hidden {
        display: none !important;
    }
    .content  .mobile-show {
        display:block ;
    }
    #layer2-menu{
        overflow: scroll;
    }
    footer{
        position: static;
    }
    .social-icons{
        font-size: small;
    }
    .karwaan{
        font-size: medium;
    }
}

@media (orientation: landscape) and (min-width: 1024px){
    #layer2-menu{
        overflow: hidden;
    }
    .social-icons{
        font-size: medium;
    }
    .karwaan{
        font-size: medium;
    }
}