.container{
    color: #000;
    padding: 2rem;
}
.container h1{
    
}
.orderList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
}

.orderId {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.productList {
    list-style-type: none;
    padding: 0;
}

.productItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.productImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.productItem div {
    display: flex;
    flex-direction: column;
}

.productItem span {
    margin-bottom: 5px;
}
