.swiper {
  width: 100%;
  height: 90vh;
  color: black;
  color: red;

}
.sidebarNav{
  display: none;
}

.thumbnail{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.video{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

.cardContainer{
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: relative;
  /* background-color: blueviolet; */
  text-align: center;

}
.embla{
  max-width: 80%;
  margin-right: 10rem;
  /* margin-right: 240px; */
  /* background-color: beige; */
  --slide-height: 35%;
  --slide-spacing: 2rem;
  --slide-width: 30%;
  z-index: 50;
}


.emblaViewport{
  z-index: 50;
  background-color: white;
  /* overflow: hidden; */
}
.embla__container{
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  column-gap: 1rem;
  /* margin-left: calc(var(--slide-spacing) * -1); */
}

.hideBox{
  /* background-color: red; */
  margin-right: 35dvw;
}
.videosGallary {
  scroll-behavior: smooth;
  transition: scroll 1s ease-in-out; /* Adjust the transition duration and easing as needed */
}


.videos {
  background: rgb(255, 255, 255);
  position: relative;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.videosSection {
  display: flex;
  align-items: center;
  /* background-color: red; */
  margin-bottom: 67px;
  /* justify-content: center; */
  flex-direction: row-reverse;
}
.ClipLoader {
  position: absolute;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.videosSectionHome {
  padding-bottom: 20px;
  border-left: 2px solid black;
  height: 100%;
  background-color: aqua;
  display: flex;
  align-items: center;
  padding-right: 20px;
  background: white;
  position: relative;
  z-index: 8;
}
.home > span {
  transform: rotate(90deg);
  display: flex;
  color: rgb(0, 0, 0);
}
.videosSectionHome > span:hover {
  cursor: pointer;
}
.videosSectionHome > hr {
  width: 500%;
}

.videosGallary {
  width: 100vw;
  height: 330px;
  transform: translateX(-00%);
  opacity: 1;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  overflow: scroll !important;
  direction: rtl;
  transition: all 0.5s ease-in-out;
  position: relative;
  scroll-behavior: calc();
}
.videosGallary::-webkit-scrollbar {
  display: none;
}
.videosGallary:hover {
  cursor: pointer;
}
.motion {
  width: fit-content;
  z-index: 0;
margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* background-color: aqua; */
}
.videosPageOptionsTitle{
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 12px;
  font-weight: 500;
  margin-bottom: 15px;
  cursor: pointer;
}
.optionName{
  color: black;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-size: medium;
  cursor: pointer;
  margin-top: 2px;
  transition: all ease-out 0.2s;
}
.optionName:hover{
  letter-spacing: 3px;
}
.videoContainer {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 2;
  /* pointer-events: none; */
}
.videosGallarySectionImg,
.videosGallarySection {
  width: 100%;
  /* padding-left: 10px; */
  background: white;
  position: relative;
  height: 100%;
  z-index: 2;
}
.videosGallarySectionImg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 50;
  transition: all 0.5s ease-in;
  opacity: 1;
  width: 100%;
  object-fit: cover;
}
.videosThumbnail{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* aspect-ratio: 16/9; */
  transition: all 0.5s ease-in;
  z-index: 3;
}
/* .videosThumbnail:hover{
  filter: opacity(0);
  z-index: 1;
} */
.slideChild > div:hover > .videosThumbnail {
  filter: opacity(0);
  z-index: 1;
}

.videoContainer {
  position: relative;
  overflow: hidden;
  aspect-ratio: 16/9;

}

.videoGallerySection {
  width: 100%; /* Adjust the width as needed */
  height: 100%; /* Adjust the height as needed */
  transition: opacity 0.3s ease; /* Adjust the transition properties as needed */
}

.videoGallerySection:hover {
  opacity: 0.7; /* Adjust the opacity on hover as needed */
}
.videosGallary > a {
  position: relative;
  margin-bottom: 10px;
}
.videosGallary > a:first-child {
  margin-right: 250px;
  display: flex;
}
/* .videosGallary>a:nth-child(1) {
 transform: translateX(-70px);
 position: relative;
 animation: rtoh 0.3s linear 0s 1 forwards;

} */
/* @keyframes rtoh {
  0%{
    transform: translateX(-100px);
    position: relative;
    transition: all 0.5s ease-in;
  }
  100%{
 transform: translateX(0px);
 position: relative;
 transition: all 0.5s ease-in;

  } */
/* } */
.imageSection {
  width: 295px;
  height: 169px;
  position: relative;
  margin: 2px;
}
.imageSection:hover {
  cursor: pointer;
}

/* scroll bar */
.videosScrollBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0rem 2rem;
  /* padding-top: 4rem; */
  background: white;
  color: black;
  position: absolute;
  bottom: 8%;
  left: 0;
  /* margin-top: 200px;  */
}
.videosScrollBarRightSide {
  display: flex;
  align-items: center;
}
.videosScrollBarLeft,
.videosMenuShow,
.videosMenuHide,
.videosScrollBarRight {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.videosScrollBarRight {
  margin-left: 15px;
}
.videosIcons {
  margin: 0 6px;
  /* font-size: inherit; */
  
}
.videosScrollBarRight:hover,
.videosScrollBarLeft:hover,
.videosScrollBarRightSide,
.videosMenuShow:hover,
.videosMenuHide:hover {
  cursor: pointer;
}
.slide{

}


@media (max-width: 1028px) {

  .swiper{
    width: 45vw;
    height: 88vh;

  }
  .motion{
    display: none;
  }
  .videosSectionHome{
    display: none;
  }
  .videoContainer{
    aspect-ratio: 16/9;
  }
  .videosSection {
    display: flex;
    /* background-color: aquamarine; */
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .videosScrollBar{
    display: none;
  }
}
@media (max-width: 680px) {
  .swiper{
    width: 100vw;
    height: 90vh;
  }
  .videos{
    justify-content: flex-start;
  }
  .videosScrollBar{
    display: none;
  }


  
  .videoContainer{
    pointer-events: none;
  }
  .videosThumbnail{
    aspect-ratio: 16/9;
  }
  .motion{
    display: none;
  }
  .videosSectionHome{
    display: none;
  }
  .videoContainer{
    aspect-ratio: 16/9;
    /* pointer-events: none; */
    
  }
  .videosSection {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
}

@media (min-width: 1029px) {
  .swiper{
    height: 50vh;

  }
  .sidebarNav{
    /* background-color: red; */
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    right: 0;
    width: fit-content;
    height: 45vh;
    overflow: hidden;
  }
  .slide{
    /* background-color: aqua; */
    display: flex;
    height: 90%;
    overflow: hidden;
    position: relative;
    aspect-ratio: 16/9;
  }
  .home{
    background-color: white;
    color: black;
    display: flex;
    border-left: 1px solid black;
    z-index: 80;
    justify-content: center;
    align-items: center;
  }
  .parentContainer{
    position:relative;
    overflow:hidden;
    display:flex;
    flex-direction: column;
    justify-content:center;
    padding-bottom:10vh;
  }
}
